body {
  background: url("../Images/sayagata-400px.png")
}

.main {
  margin-bottom: 90px;
}

.card {
  border: 15px solid #0052cc;

}

.btn, .jumbotron, nav {
  background-color: #0052cc;
}

.trash:hover {
color: red;
}

.nav-link:hover {
  color: #e600e6;
}

.fa-github {
  font-size: 2rem;
}

.fa-github,
.copy, .navbar, .jumbotron, .btn {
  color: rgb(227,227,227);
}